@import "reset";
@import "header";
@import "components/sidebar";
@import "components/headline";
@import "components/form";
@import "components/card";
@import "components/buttons";
@import "components/table";
@import "components/notification";
@import "components/payment-systems";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

a {
  text-decoration: inherit;
}

ul {
  list-style-type: none;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

ul, li {
  margin: 0;
  padding: 0;
}

a, p, span, h1, h2, h3, h4, h5, h6, input, label {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.smart-container {

}

.site-wrapper {
  padding: 1rem 0;

  *, *:after, *:before {
    box-sizing: border-box;
  }
}

.smart-separate {
  margin: 2rem 0;
}

.smart-block {
  margin: 2.5rem 0 4rem;
}

.smart-title {
  margin-bottom: 2.5rem;
}

.smart-text {
  font-size: 11px;
  color: #333;
}

.smart_currency {
  color: #5ba;
  font-weight: normal;
}

h4 {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #333;
  text-align: left;
  line-height: normal;
}
