$card-height: 240px;
$golden-ratio: 1.618;
$focused-color: #3d89b8;
$unfocused-color: #337099;

.smart-credit-card {
  width: 500px;
  height: 290px;
  position: relative;
  color: #666;
  z-index: 1;

  &-front, &-back {
    position: absolute;
    width: 390px;
    height: 250px;
    border-radius: 6px;
    padding: 20px 30px;
  }

  &-front {
    background-color: #EAF7F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-back {
    top: 40px;
    right: 0;
    z-index: -2;
    border: 2px solid #d2eeeb;

    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 40px;
      width: 100%;
      left: 0;
      top: 25px;
      background-color: #d2eeeb;
    }
  }

  &-row {
    margin: .5rem 0;
  }

  &-exp {
    display: flex;

    &_col {
      width: 50%;
      margin: 0 20px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

  }

  label {
    display: block;
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: .4rem .75rem;
  }

  input, select { // tpdp изменить на общее
    border: 1px solid #ccc;

    &:focus {
      border: 1px solid #999;
    }
  }

  &_cvc {
    position: absolute;
    right: 0;
    top: 85px;
    display: flex;
    flex-direction: column;
    width: 108px;
    padding: 0 15px;

    label {
      font-size: 14px;
      color: #333;
      margin-bottom: 5px;
    }

    input {
      padding: 10px 5px;
    }

    span {
      margin-top: 5px;
      font-size: 10px;
      color: #999;
    }
  }
}
