.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    color: #666;
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.form-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.form-footer {
  p {
    color: #777;
    margin-top: .5rem;
  }
}

.form-check {
  position: relative;
  padding-left: .5rem; // todo нужен тест
  margin-bottom: 1rem;

  label {
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      margin-right: 10px;
      display: block;
      flex: 1 0 auto;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border: 1px solid #999;
      border-radius: 4px;
    }
  }

  input {
    display: none;

    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;

      &:before {
        border: 1px solid #ccc;
      }
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 4px;
      background: $secondary-color;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $secondary-color, 4px 0 0 $secondary-color, 4px -2px 0 $secondary-color, 4px -4px 0 $secondary-color, 4px -6px 0 $secondary-color, 4px -8px 0 $secondary-color;
      transform: rotate(45deg);
    }
  }

  &-label {
    font-size: 14px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &__border-right-none {
    border-right: none;
  }
}

.form-select {
  position: relative;

  &:after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    color: #aaa;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  select {
    margin: 0;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    width: 100%;
  }

  &__icons {
    select {
      padding: .375rem 1.65rem .375rem .75rem;
    }
  }
}

.input-group-append {
  //padding: .375rem .75rem;
  height: auto;
  border: 1px solid #ced4da;
  border-left: none;
  display: flex;
  align-items: center;

  &__border-none {
    border: none;
  }

  i {
    color: #999;
    padding: 0 .75rem;
  }

  select {
    border-left: none; // todo вынести в отдельный класс
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  & .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }
}


