.notification {
  width: 100%;
  padding: 2rem 1rem;
  background-color: $light-red-color;
  display: flex;
  justify-content: space-around;

  &_item {
    color: $almost-black-color;
    display: flex;
    align-items: center;
    width: 33.3%;
    cursor: default;
  }

  p, a, span {
    color: inherit;
  }

  span {
    display: block;
    padding: 0 2rem;
    font-size: 28px;
  }

  p, a {
    font-size: 12px;
    line-height: normal;
  }

  a {
    text-decoration: underline;
    color: $blue-color;

    &:hover {
      color: lighten($blue-color, 10%);
    }
  }
}
