.smart-table {
  display: table;
  width: 100%;
  padding: 5px 15px;
  font-family: 'Open Sans', sans-serif;
  color: #666;

  &_row {
    display: table-row;
  }

  &_cell {
    display: table-cell;
    width: 50%;
    padding: 15px 0;
    font-size: 14px;
  }

  &-body {
    display: table-row-group;
  }

  &-head {
    display: table-header-group;
    font-weight: bold;
  }

  &-foot {
    display: table-footer-group;
    text-transform: uppercase;

    & .smart-table_cell {
      border-top: 1px solid #ccc;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
