.smart-table {
  display: table;
  width: 100%;
  padding: 5px 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(#999, .12), 0 1px 2px rgba(#999, .20);
  font-family: $font-main;
  color: #666;

  &_row {
    display: table-row;
  }

  &_cell {
    display: table-cell;
    width: 50%;
    padding: 10px 0;
    font-size: 13px;
    line-height: 1.5;
  }

  &-body {
    display: table-row-group;
  }

  &-head {
    display: table-header-group;
    font-weight: bold;
  }

  &-foot {
    display: table-footer-group;

    & .smart-table_cell {
      border-top: 1px solid #ccc;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

table {
  width: 100%;
  font-family: $font-main;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(#999, .12), 0 1px 2px rgba(#999, .20);
  cursor: default;

  th, td {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

thead {
  th {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 12px;
    font-weight: 400;
    color: #999;
    text-align: left;
  }
}

tbody {
  tr {
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }

  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
  }
}

.smart-have-messages {
  color: #478000;
}

.smart-topup,
.smart-withdrawal {
  display: block;
  margin: 5px 0;
}

.smart-topup {
  color: #478000;
}

.smart-withdrawal {
  color: #C74E49;
}
