$dark-blue-color: #356cb8;
$white-color: #FFF;
$gray20-color: #333;
$almost-black-color: #232026;


$black-color: #000;
$secondary-color: #27A09F;
$light-gray-color: #CCC;
$light-red-color: #F2DBDB;
$dark-gray-color: #b2b2b2;
$gray95-color: #F2F2F2;
$orange-color: #f60;
$blue-color: #259BCF;
